# MATLAB autosaves
*.asv

# MATLAB datasets
*.mat
*.fig

# generated figures
gen_*.png

# Simulink autosaves
*.slx.autosave

# Simulink cache files
*.slxc

# MATLAB & Simulink compilation files
slprj/
